.idea
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
/public
/.env-production
.venv
pg_data/
deployment/group_vars/github.yml
.mypy_cache
node_modules
webpack-stats.json
/deployment/configs/nginx/app.conf
/deployment/configs/certbot/conf/
/.coverage
